.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
    border-bottom: 3px solid #CECB7E !important;
}
.nav-item a.is-tab:hover,
a.nav-item.is-tab:hover {
    border-bottom-color: #CECB7E;
    border-top-color: transparent;
}

.tabs li.is-active a {
    border-bottom-color: #CECB7E;
    color: #918a8a;
}

.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)), url('https://i.imgur.com/aG712Z2.jpg');
}

.foot-icon {
    font-size: 1.5em;
}
.fa-heart {
    color: red;
}

a.link {
    color: #8DA034!important;
}
.stop-scroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.notification {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    margin-bottom: 0!important;
}