#nav-name {
    font-weight: 900;
}

.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
    border-bottom: 3px solid #CECB7E !important;
}

/* TODO: Fix vertical text bug  when using nali class */
/*.nali {*/
    /*display: inline-block;*/
    /*!*padding-top: 16px;*!*/
    /*margin-bottom: -20px;*/
/*}*/

/*.nali:after {*/
    /*display: block;*/
    /*content: '';*/
    /*margin-top: 18px;*/
    /*border-bottom: 1px solid #CECB7E;*/
    /*-webkit-transform: scaleX(0);*/
    /*-moz-transform: scaleX(0);*/
    /*-ms-transform: scaleX(0);*/
    /*-o-transform: scaleX(0);*/
    /*transform: scaleX(0);*/
    /*-webkit-transition: transform 250ms ease-in-out;*/
    /*-moz-transition: transform 250ms ease-in-out;*/
    /*-o-transition: transform 250ms ease-in-out;*/
    /*transition: transform 250ms ease-in-out;*/
/*}*/

/*.nali:hover:after {*/
    /*transform: scaleX(1);*/
/*}*/


.nav-item a.is-tab:hover,
a.nav-item.is-tab:hover {
    border-bottom-color: #CECB7E;
    /*border-bottom-color: transparent;*/
    border-top-color: transparent;
}

.tabs li.is-active a {
    border-bottom-color: #CECB7E;
    color: #918a8a;
}

/** Fix issue with xl screen widths - adjust background image size to view */
/*.header-image {*/
    /*!*background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)), url('https://i.imgur.com/aG712Z2.jpg');*!*/
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)), url('../images/work.jpg');*/
/*}*/

/** TODO: Fix background image positioning - image repeats */
.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)), url('../images/work.jpg');

}

#header-img-fade
{
    background: rgb(0, 0, 0);
    transition: background 3.5s linear;
    -webkit-transition: background 3.55s linear;
    height: 100%;
    width: 100%;

}

@media screen and (min-width: 769px) {
    #nav-hero-section {
        height: 750px;
    }
}

.mouse {
    border: 2px solid white;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    width: 2rem;
    height: 3rem;
    display: block;
    margin: 200px auto 0 auto;
    z-index: 10;

}

.mouse-wheel {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 10px;
    width: 2px;
    margin: 0 auto;
    position: relative;
    top: 4px;
    background: #fff;
}

.mouse .mouse-wheel {
    animation-name: wheeldrop;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@-webkit-keyframes wheeldrop {
    0% {
        top: 5px;
        opacity: 1;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    70% {
        top: 15px;
        opacity: 0.8;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}

@keyframes wheeldrop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}

.foot-icon {
    font-size: 1.5em;
}

.fa-heart {
    color: red;
}

a.link {
    color: #7e8f2e !important;
}

/* Shoots user back to top when clicking modal */
/*.stop-scroll {*/
    /*overflow: hidden;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
/*}*/

.notification {
    background-color: #547b62;
    color: #fff5f7;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 0 !important;
}
.tabs-section {
    padding:3rem 1.5rem 0 1.5rem;
}
.tab-section {
    padding: 0 3rem 1.5rem 3rem!important;
    margin-bottom: 4rem;
    display: none;
}
.tab-section.current-tab {
    display: block;
}

.heading .title {
    margin-bottom: 3rem;
}

/* Set a size for our map container, the Google Map will take up 100% of this container */
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 5rem;
    /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /*background-color: #000000;*/
}

@media only screen and (max-width:992px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    #map {
        margin-top: 20px;
        height: 510px;
        /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
        /*background-color: #000000;*/
    }
}

.view-projects-btn {

    display: block;
    margin: 3rem auto 0 0;
}

form .submit-btn {
    background-color: #65716f;
    color: #fff;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

form .submit-btn:hover {
    background-color: #575d5b;
    color: #e2e2e2;
}

.contact-section {
    margin-bottom: 3rem;
}

#fcc-logo {
    height: 40px;
    margin: 30px auto;
}
/* Neit logo in Education - About Me */
#neit-logo {
    height: 60px;
    width: 295px;
    margin:20px auto;
}

#hackr-logo {
    height: 60px;
    width: 295px;
    margin: 20px auto;
}

.input:focus, .input.is-focused, .input:active, .input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active {
    border-color: #8DA034!important;
}

#res {
    display: none;
}

.fa-arrow-up {
    color: #fff;
}

.up-btn {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.23);
    position: fixed;
    right: 40px;
    bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.up-btn:hover {
    background-color: rgba(0, 0, 0, 0.73);
}

.resume-img {
    padding:1px;border:thin solid #000000;
}

.show-me {
    opacity: 1 !important;
}

/* About img  */
.overlay {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.46);
    overflow: hidden;
    width:100%;
    height:0;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.text {
    white-space:nowrap;
    color: #fff;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-cont:hover .overlay {
    height: 100%;
}

.white {
    color: #fff!important;
}

.course-table tr:hover {
    background-color: #f8f5a1;
}

.course-table tr:first-child {
    background-color: #009576;
    color: #ffffff;;
}

@media screen and (min-width: 769px) {
    .modal-card, .modal-content {
        width: 700px!important;
    }
}

.panel-tabs a.is-active {
    border-bottom-color: #4a4a4a;
    color: #363636!important;
}
.panel-tabs a {
    color:#8DA034!important;
}
.panel-block.is-active .panel-icon {
    color: #8DA034!important;
}